/* IMAGE DE FOND */
.back{
    background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?fit=crop&fm=jpg&h=900&ixlib=rb-0.3.5&q=80&w=1300');
      background-size:cover;
    background-repeat:no-repeat;
  font-family: 'Amatic SC', cursive;
}
/* IMAGE DE COVER */
.Head {
      width:100%;
    background:#2D3F4B;
      background-position:center center;
    background-size:cover;
      border-bottom:1px solid #ccc;
      z-index:99;
  }
  
  /* IMAGE DE PROFIL */
  .logo{
    position:absolute;
    width:110px;
    height:110px;
    bottom:50%;
    padding:7px;

  }
  
  /* BLOC CARTE */
  .portfoliocard{
      width:80%;
      max-width: 600px;
      background:#D3D3D3;
      margin: 20% auto;
      overflow:hidden;
      z-index:0;
      box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.25),
      -3px -3px 7px 0 rgba(255, 255, 255, 0.25);
    
    border-radius:20px;
  }
  
  
  .List_contact{
      width:60%;
      border-left:50px solid #D3D3D3;
      margin-left:-1px;
  }
  
  /* TEXTE */
  h2.name{
    font-family: Roboto,sans-serif;
    left:50%;
    font-size:40px;
    font-weight:300;
    color:#ccc;
    padding:0;
    margin:20px 10px 0px 30px;
    text-align: right;
  }
  h3.location{
      font-size:15px;
      font-weight:300;
      color:#ccc;
      padding:0;
      margin:-5px 10px 10px 30px;
      text-align: right;
  }
  .contact_information{
      margin-top:20px;
      padding-left:30px;
      list-style-type:none;
  }
  .contact_information li{
      height:25px;
      width:80%;
      line-height:25px;
      font-weight:300;
      font-size:15px;
      color:rgb(10, 10, 10);
      text-shadow:1px 1px 1px rgba(255,255,255,0.8);
      padding:5px 0px;
      background-repeat:no-repeat;
      background-size:18px 18px;
      border-bottom:1px solid rgba(0,0,0,0.1);
      box-shadow:0px 1px 1px rgba(255,255,255,0.6);
      cursor:default;
  }
  .contact_information li:before{
      content:"";
      width:25px;
      height:25px;
      display:block;
      float:left;
      background-position:center;
      background-size:18px 18px;
      background-repeat:no-repeat;
      margin-right:5px;
      opacity:0.7;
  }
  .contact_information li:hover:before{
      opacity:1;
  }
  .contact_information li.work:before{
      background-image: url('http://schulzmarcel.de/x/icons/case_24.png');
  }
  .contact_information li.website:before{
      background-image: url('http://schulzmarcel.de/x/icons/globe_24.png');
  }
  .contact_information li.mail:before{
      background-image: url('http://schulzmarcel.de/x/icons/paper_plane_24.png');
  }
  .contact_information li.phone:before{
      background-image: url('http://schulzmarcel.de/x/icons/phone_24.png');
  }
  .contact_information li.resume:before{
      background-image: url('http://schulzmarcel.de/x/icons/inbox_24.png');
  }
  
  
  
  .nostyle{
      color:inherit;
      text-decoration:none;
      padding:0;
      margin:0;
  }