

.wheel_div {
    position: fixed;
    height: 100%;
    width: 100%;
    background: radial-gradient(#dadce4, #48494b);
}

.spinner {
    position: fixed;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.anim_img {
    position: absolute;
    transform-origin: center;
    transform:translateX(-50%);
    height: 80%;
    bottom:0;
    left:50%;
}

.frame {
    position: absolute;
    transform-origin: center;
    bottom : 0;
    left:50%;
    transform-style: preserve-3d;
}

.front  {
    position: relative;
    border-radius: 20px;
    border: 4px solid #2d3f4b;
    overflow: hidden;
    background-color: #3d5b6e ;
    transition: .2s;
}

.front:hover  {
    transform:scale(1.1);
}

.img_front  {
    transition: .2s;
}

.desc_front{
    color:white;
    padding: 3px;
}

.back   { 
    position: absolute;
    border-radius: 20px;
    top:0;
    transform: translateZ(-1px);
    overflow: hidden; 
    border: 4px solid #2d3f4b;
    background-color: #3d5b6e ;
}

.img_back   { 
    filter:grayscale(1) blur(4px);
}

.desc_back{
    color:white;
    padding: 3px;
    filter: blur(4px);
}
